#topright {
    height: 130px;
    line-height: 10px;
    margin-inline-end: 20px;
}

#topright ul {
    list-style: none;
    width: 100%;
    text-align: right;
}

#topright ul li{
    display: inline-block;
    padding-right: 50px;

}


.Google_Apps {
    height: 100px;
}